body {
    font-family: 'Roboto', sans-serif;
    background-color: #000317;
}

h1{
    font-family: 'Oswald', sans-serif;
    color: #fff;
}
label {
    color: #fff;
}
.container{
    background-color: #000317;
    box-shadow: 0 10px 30px #01d3f4;
    max-width: 800px;
}
#caste{
    display: flex;
    flex-direction: column;
}

#final_price {
    font-weight: bold;
    color: green; 
}
.btn{
    background-color: #01d3f4;
    margin:40px 0 40px 20px;
    padding:10px;
    font-weight: bold;
}
#copy{
    text-align: center;
    margin:20px 0 0 0;
}